$green: hsl(75, 94%, 57%);
$white: hsl(0, 0%, 100%);
$grey: hsl(0, 0%, 20%);
$dark_grey: hsl(0, 0%, 12%);
$off_black: hsl(0, 0%, 8%);

*,
*::after,
*::before {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-size: 14px;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-areas: "main" "footer";
  grid-template-rows: 1fr min-content;
  background-color: $off_black;
  height: calc(100vh - 4rem);
  margin: 2rem;
  color: $white;
}

main {
  grid-area: main;
  display: grid;
  place-items: center;

  .card {
    background-color: $dark_grey;
    width: 100%;
    max-width: 40ch;
    border-color: transparent;
    border-style: solid;
    border-width: 0.25ch;
    border-radius: 1rem;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .card-user-profile {
      text-align: center;

      img {
        width: 6rem;
        aspect-ratio: 1/1;
        border-radius: 100%;
        margin-bottom: 2rem;
      }

      h4 {
        margin-bottom: 0.7rem;
        font-size: 1.75rem;
        font-weight: 600;
      }

      h5 {
        margin-bottom: 1.5rem;
        font-weight: 700;
        color: $green;
      }
    }

    .user-links-list {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;

      li {
        width: 100%;
        a {
          text-align: center;
          text-decoration: none;
          display: inline-block;
          width: inherit;
          padding-block: 0.75rem;
          background-color: $grey;
          color: $white;
          font-weight: 600;
          cursor: pointer;
          border-radius: 0.35rem;
          border-style: none;
          transform: none;
          transition: transform 100ms ease-in;
          transition: background-color 200ms ease-in;
          transition: color 100ms ease-in;
          position: relative;
        }

        a::after {
          content: attr(data-content);
          position: absolute;
          top: 0;
          left: 0;
          background: $green;
          color: $off_black;
          height: 100%;
          width: 100%;
          font-weight: 600;
          padding-block: 0.75rem;
          border-radius: 0.35rem;
          border-style: none;
          transform: scaleX(0);
          transition: transform 250ms ease-in;
          transform-origin: right;
        }

        a:hover::after {
          transform: scaleX(1);
          transform-origin: left;
        }

        a:active {
          transform: translateY(0.3ch);
        }
      }
    }
  }
}

footer {
  grid-area: footer;
  text-align: center;
  a {
    color: $white;
  }
}
